/.next
/.vscode
/admin_dashboard_stitch.html
/admin_operacao_stitch.html
/agendar_service_mobile_stitch.html
/agendar_service_stitch.html
/cadastro_stitch.html
/home_stitch.html
/login_stitch.html
/mcpServers.json
/meus_pets_stitch.html
/node_modules
/pet_stitch.html
/tutor_stitch.html